/* CSS RESET */
* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {text-decoration: none;}
li {list-style: none;}

body {background-color: black;
      font-family: "Helvetica", "noto sans", sans-serif;
   }

.title h1, h2 { display: inline-block;
}

.title h2 { float: right;}
    



h1 { color: white;
     font-weight: lighter;
     font-size: 35px;
     padding: 40px 0px 40px 40px;
     }

h2 {
    color: white;
    font-weight: lighter;
    font-style: oblique;
    font-size: 35px;
    padding: 40px;
    
}

img { 
    position: relative;
    background-image: url(./main-background.png);                                                 
    background-size: cover;
    max-width: 100%;
    height: auto;
    
}

.mainsen  {
   color: white;
   font-weight: lighter;
   font-size: 35px;
   padding: 40px 0px 40px 40px;
   position: absolute;
   top:70%;
   left:0.8%;   

   z-index:2;
    
    }